body{
    font-family: Arial serif;
    font-size: 20px;
    margin: 0;
  
}


.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "nav"
    "main"
    "footer"
  
}

#main{
    grid-area: main;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "intro intro intro"
    "search search search "
    "minutes-title minutes-title minutes-title "
    "cards cards cards"
}

#intro{
    grid-area: intro;
grid-column: 2/3;
    grid-row: 1;

}

#search{
    grid-area: search;
    grid-column: 2/3;
    grid-row: 2;
}
.minutes-title{
    grid-area: minutes-title;
    grid-column: 2/3;
    grid-row: 3;
}

#cards{
    width: 100%;
  display:flex;
    flex-direction:row;
   flex-wrap: wrap;
    grid-column: 2/3;


}
.card1{display:flex;
    justify-content: space-between;
    grid-column: 2/3;
}
 .doc1-img {
    padding: 10px;
}
.card1 {
padding: 0 10px;
}
/* CSS FOR NAVBAR AND SUBNAV BAR*/
.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 87px 47px;
    grid-column: 1/13;
    background-color: #00283C;
}

.logo{
    grid-column: 3/5;
}
a .logo-img {
   position: relative;
    max-height: 134px;
}
.elements {
    font-size: 24px;
    grid-column: 6/12;
    margin-top: auto;
    margin-bottom: auto;
}
.subnav{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
    background-color: black;
    grid-row: 2;
    border-top: 3px solid #9F895D;

}
.sub-elements {
    grid-column: 6/10; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
 
}
ul li {
    display: inline;
}

ul li a{
    color: #fff;
    padding: 15px;
    
}





.card{
    width: 100%;
}


/*
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    right:0;
    left:0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color:#252525;
    color:white;
    height:50px;
    align-content: center;
}

.visit {
    grid-column: 2/6;
    margin: 0;
    
}

.alachua-info{
    font-size: 15px;
    color:white;
   
}
*/