html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial serif;
    font-size: 20px;
    margin: 0;
    height: 100%;
    width: 100%;

}


.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "nav"
        "content"
        "footer"
}

#nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
}

#main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: content;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[9];
    grid-template-rows: repeat(9, auto);
    padding: 0 20%;
        grid-template-areas:
        "title"
        "first-intro"
        "markers"
        "second-intro"
        "register-sites"
        "third-intro"
        "map"
        "fourth-intro"
        "noteworthy-locations"
}

.title{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
}
.first-intro{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: first-intro;
}
.markers{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: markers;
}
.second-intro{
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: second-intro;
}
.register-sites{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: register-sites
}
.third-intro{
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: third-intro;
}
.map{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: map;
}
.fourth-intro{
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: fourth-intro;
}
.noteworthy-locations{
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: noteworthy-locations;
}


.markers, .noteworthy-locations{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 20px;
  
}
.map{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 20px;
    
}
.register-sites{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 20px;
}

#footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas:
        "copyright"
        "logos"
}

/* MAPPING NESTED GRIDS FOR CONTENT AREAS: VIDEO, PHOTOS AND MAP*/
.video-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.photo-content,
.map-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
    grid-gap: 20px;
}




.image-top{
    -webkit-box-shadow: 3px 5px 6px #ccc;
            box-shadow: 3px 5px 6px #ccc;
    width: 100%;
}

/* CSS FOR NAVBAR AND SUBNAV BAR*/
.nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 87px 47px;
    grid-template-rows: 87px 47px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    background-color: #00283C;
}
.nav > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.nav > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.nav > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.nav > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}
.nav > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.nav > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
}
.nav > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}
.nav > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
}
.nav > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}
.nav > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
}
.nav > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}
.nav > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 12;
}
.nav > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.nav > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.nav > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}
.nav > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
}
.nav > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
}
.nav > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
}
.nav > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
}
.nav > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
}
.nav > *:nth-child(21) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
}
.nav > *:nth-child(22) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
}
.nav > *:nth-child(23) {
    -ms-grid-row: 2;
    -ms-grid-column: 11;
}
.nav > *:nth-child(24) {
    -ms-grid-row: 2;
    -ms-grid-column: 12;
}

.logo {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
}

a .logo-img {
    position: relative;
    max-height: 134px;
}

.elements {
    font-size: 24px;
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6/12;
    margin-top: auto;
    margin-bottom: auto;
}

.subnav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    background-color: black;
    -ms-grid-row: 2;
    grid-row: 2;
    border-top: 3px solid #9F895D;

}

.sub-elements {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;

}

ul li {
    display: inline;
}

ul li a {
    color: #fff;
    padding: 15px;

}


/* video cards css starts here*/


.resource {
    width: 100%;
}

.shadow {

    -webkit-box-shadow: 3px 5px 6px #ccc;

            box-shadow: 3px 5px 6px #ccc;
    width: 100%;
}

.shadow-text {
    padding: 5px;
}

.shadow-text p {
    text-align: center;
    font-size: 14px;
}
.img-top{
   width: 100%;
}
.bo-diddley {
    -webkit-box-shadow: 3px 5px 6px #ccc;
            box-shadow: 3px 5px 6px #ccc;
    width: 100%;
}

.baseball {

    -webkit-box-shadow: 3px 5px 6px #ccc;

            box-shadow: 3px 5px 6px #ccc;
    width: 100%;
}

.verdell-washington {

    -webkit-box-shadow: 3px 5px 6px #ccc;

            box-shadow: 3px 5px 6px #ccc;
    width: 100%;
}

.freedom-ride {

    -webkit-box-shadow: 3px 5px 6px #ccc;

            box-shadow: 3px 5px 6px #ccc;
    width: 100%;
}

.cotton-club {

    -webkit-box-shadow: 3px 5px 6px #ccc;

            box-shadow: 3px 5px 6px #ccc;
    width: 100%;
}


.thumbnail {
    width: 100%;
}

.dates {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}








/*MAP SECTION*/






footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #252525;
    color: white;
    height: 50px;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 20%;
}



.alachua-info {
    font-size: 15px;
    color: white;

}


/*CSS FOR LIGHTBOX*/
.lightbox {
    /** Default lightbox to hidden */
    display: none;
    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 100%;
    max-height: 100%;
    margin-top: 200px;
    margin-bottom: auto;
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}