body {
    font-family: Arial serif;
    font-size: 20px;
    margin: 0;

}


.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "nav"
    "main"
    "footer"
}

#nav {
    display: grid;
    background-color: #00283C;
    grid-area: navbar;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "logo nav"
    "logo subnav"
}
.logo{
    grid-area: logo;
}

.subnav{
    grid-area: subnav;
}
#main{
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 0 20%;
    grid-template-areas:
    "header"
    "resources"
}
#header{
    grid-area: header;
}
#resources {
    grid-area: resources;
    display: grid;  
    grid-template-areas: 
    "top-left top-right"
    "bottom-left bottom-right"
}
.resource{
    width: 100%;
}
#footer{
    grid-area: footer;
}

/* CSS FOR NAVBAR AND SUBNAV BAR*/


a .logo-img {
 
    max-height: 134px;
}

.elements {
    font-size: 24px;
  
    margin-top: auto;
    margin-bottom: auto;
}

.subnav {
  
 

    background-color: black;

    border-top: 3px solid #9F895D;

}

.sub-elements {
   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;

}

ul li {
    display: inline;
}

ul li a {
    color: #fff;
    padding: 15px;

}


a .resource {
    width: 100%;
}


.card {
    width: 100%;
}



footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #252525;
    color: white;
    height: 50px;
    align-content: center;
}

.visit {
    grid-column: 2/6;
    margin: 0;

}

.alachua-info {
    font-size: 15px;
    color: white;

}